src/main/mule/munit_practice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="05615236-1407-42cf-a7a0-05e066586537" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="67f883c9-bc84-46eb-8780-bb8a5e8abdd5" file="config.yaml" />
	<flow name="munit_practiceFlow" doc:id="f90eee99-95ea-423f-b884-47d11997e67f" >
		<http:listener doc:name="Listener" doc:id="ca4460fc-787e-49e3-a702-6ccf203bf5bc" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="01e5db6e-c189-4bae-b183-faefc524e646" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Welcome to MuleSoft " ++ (attributes.queryParams.fName as String ++ " " ++ attributes.queryParams.lName as String) ++ "GitHub changed added."
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="46851035-610b-44d2-8a5f-bf8057ff497a" message="#[payload]"/>
	</flow>
</mule>
